@import url('https://fonts.googleapis.com/css?family=Avenir&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 40px 0px 30px;
  font-size: xx-large;
}

body {
  background-color: #f7f7f7;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0; */
  font-family: 'Avenir', sans-serif;
}

section {
  display: flex;
  flex-direction: row;
}

.left-container {
  margin: 20px auto;
  margin-left: 100px;
  width: 400px;
  align-items: center;
}

.middle-container {
  margin: 20px 30px auto;
  width: 400px;
  align-items: center;
}

.right-container {
  margin: 20px auto;
  margin-right: 100px;
  width: 400px;
  align-items: center;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0 0 5px;
  text-transform: uppercase;
}

h5 {
  margin: 5px 0 5px;
  text-transform: uppercase;
  align-items: left;
}

h6 {
  margin: 5px 0 5px;
  text-transform: uppercase;
  align-items: left;
}

.top {
  margin-top: 15px;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #43aa8b;
}

.money.minus {
  color: #f94144;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.add-btn {
  cursor: pointer;
  background-color: #f4c966;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.view-btn {
  cursor: pointer;
  border-color: #b7b7b7;
  background-color: #fff;
  border-width: 2px;
  color: #b7b7b7;
  display: block;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0px 20px;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 12px 20px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #43aa8b;
}

.list li.minus {
  border-right: 5px solid #f94144;
}

.delete-btn {
  cursor: pointer;
  background-color: #f94144;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

.add-transaction {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 10px 30px;
  justify-content: space-between;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

.add-budget {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 10px 30px;
  justify-content: space-between;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

.budget-card {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 10px 30px;
  justify-content: space-between;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

.budget-card .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.budget-card .title {
  margin: 5px 2px 5px;
  text-transform: uppercase;
  align-items: left;
  font-weight: bolder;
}

.budget-card .amount {
  margin: 5px 0 5px;
  text-transform: uppercase;
  align-items: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.budget-card .amount .muted {
  margin: 5px 2px 5px;
  text-transform: uppercase;
  align-items: right;
  color: #959393;
  font-size: smaller;
}

.whole-bar {
  height: 20px;
  width: 100%;
  background-color: #ececec;
  border-radius: 50px;
  margin: 50;
}

.progress-done {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #277da1;
    border-radius: 50px;
    transition: 0.5s ease;
}